
//- This Source Code Form is subject to the terms of the Mozilla Public
//- License, v. 2.0. If a copy of the MPL was not distributed with this
//- file, You can obtain one at http://mozilla.org/MPL/2.0/.
//-
//- Copyright (c) 2021-present Kaleidos Ventures SL

div(class!="scope-data <% if(editable){ %>clickable<% }%>")
    .label.level-name(translate="COMMON.FIELDS.SCOPE")
    .level-data
        span.label <%- scope.name %>
        span.level-color(style!="background-color:<%- scope.color %>")

    ul(class="popover pop-scope")
        <% _.each(scopes, function(scope) { %>
        li
            a(href="", class="scope", title!="<%- scope.title %>",
                data-scope-id!="<%- scope.id %>") <%- scope.name %>
        <% }); %>
