
//- This Source Code Form is subject to the terms of the Mozilla Public
//- License, v. 2.0. If a copy of the MPL was not distributed with this
//- file, You can obtain one at http://mozilla.org/MPL/2.0/.
//-
//- Copyright (c) 2021-present Kaleidos Ventures SL

.attribute(ng-if="issuesEnabled")
    span.points(ng-bind="stats.created_bugs[userId]")
.attribute(ng-if="issuesEnabled")
    span.points(ng-bind="stats.closed_bugs[userId]")
.attribute(ng-if="issuesEnabled")
    span.points(ng-bind="stats.assigned_bugs[userId]")
.attribute(ng-if="tasksEnabled")
    span.points(ng-bind="stats.closed_tasks[userId]")
.attribute(ng-if="tasksEnabled")
    span.points(ng-bind="stats.assigned_tasks[userId]")
.attribute(ng-if="usEnabled")
    span.points(ng-bind="stats.assigned_userstories[userId]")
.attribute(ng-if="wikiEnabled")
    span.points(ng-bind="stats.wiki_changes[userId]")
